/*Обнуление*/
* {
	padding: 0;
	margin: 0;
	border: 0;
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}
html {
	/* background-color: #000; */
}
html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 10px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}
/*--------------------*/
:root {
	--color__site: #ff9900;
}

/*! Font */

@font-face {
	font-family: "montserrat";
	src: url("../fonts/montserrat-bold-webfont.woff2") format("woff2"),
		url("../fonts/montserrat-bold-webfont.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "montserrat";
	src: url("../fonts/montserrat-extrabold-webfont.woff2") format("woff2"),
		url("../fonts/montserrat-extrabold-webfont.woff") format("woff");
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: "montserrat";
	src: url("../fonts/montserrat-regular-webfont.woff2") format("woff2"),
		url("../fonts/montserrat-regular-webfont.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}

body {
	font-family: montserrat, Arial, Helvetica, sans-serif;
	font-weight: 400;
	font-size: 1.6rem;
	color: #333;
}

h2 {
	margin-top: 100px;
	font-size: 4.8rem;
	font-weight: 400;
	padding-bottom: 40px;
}
/* <Container> */
.container {
	/* max-width: 1920px;
	min-width: 320px; 
	padding: 0 75px;*/
	width: calc(100% - 150px);
	margin: 0 auto;
}

/* </Container> */
/* *********************************************************************************** */
/* <Header> */
.header {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin-bottom: 1px;
}

.header__logo {
	margin: 14px auto 14px 0;
}

.nav__list {
	display: flex;
	flex-wrap: wrap;
}

.nav__link {
	margin: 10px 30px;
}

.nav__link a {
	display: block;
	padding: 10px 5px 5px;
	color: rgb(0, 0, 0);
	font-size: 1.8rem;
	font-weight: 700;
	border-bottom: 2px solid rgba(255, 255, 255, 0);
	transition: border 500ms ease-out 0s;
}

.nav__link a:hover,
.nav__link a:focus {
	border-bottom: 2px solid var(--color__site);
}

.search-button {
	width: 26px;
	height: 26px;

	cursor: pointer;
	align-items: center;

	border: none;
	background-color: transparent;
	/* transition: stroke 500ms ease-out 0s; */
}

.search-button:hover rect,
.search-button:focus rect {
	fill: var(--color__site);
}
.search-button:hover circle,
.search-button:focus circle {
	stroke: var(--color__site);
}

.nav__link:last-child {
	margin-right: 0;
	padding-right: 0;
	align-self: center;
}
/* </Header> */
/* *********************************************************************************** */
/* <Section__project> */

.project {
	width: 100%;
	/* min-height: 620px; */
	background-image: url(../img/balconies.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.project__contain {
	/* max-width: 840px; */
	padding-top: 105px;
	padding-left: 78px;
	width: 50%;
}

.project__title {
	margin-bottom: 20px;
	font-size: 7rem;
	font-weight: 800;
	color: #fff;
	line-height: 86px;
}

.project__sub-title {
	color: #fff;
	font-size: 2.4rem;
	font-weight: 700;
	margin-bottom: 100px;
	line-height: 29px;
}
.project__btn {
	/* width: 280px;
height: 80px; */
	color: #fff;
	font-weight: 700;
	font-size: 2.4rem;
	padding: 25px 37px;
	margin-bottom: 90px;
	background-color: var(--color__site);
	transition: background 500ms ease-out 0s;
}
.project__btn:hover,
.project__btn:focus {
	background-color: rgba(255, 153, 0, 0.6);
}
/* </Section__project> */
/* *********************************************************************************** */
/* <Section__description-about> */
.about__sub-title {
	line-height: 2;
	width: 70%;
	margin-bottom: 45px;
}

.description-about__item {
	display: flex;
	flex-wrap: wrap;
	align-content: space-between;
	/* align-items: stretch; */

	/* flex-basis: 50%; */
}

.about__item {
	flex-grow: 1;
	/* width: 100%; */
	position: relative;

	margin-right: 15px;
}

.about__img {
	width: 100%;
}

.about__text-inner {
	position: absolute;
	display: flex;
	align-items: center;

	left: 0;
	right: 0;
	top: 70%;
	bottom: 0;
	/* width: 100%; */

	background-color: rgba(0, 0, 0, 0.2);
	backdrop-filter: blur(15px);
}

.text-inner__title {
	color: #fff;
	margin-left: 55px;
	padding-right: 10px;
	line-height: 2;
	font-weight: 700;
}

.text-inner__link {
	color: #fff;
	border: 3px solid var(--color__site);
	padding: 20px 40px;
	margin-right: 70px;
	margin-left: 75px;
	font-weight: 700;
	/* width: 100%; */
	transition: background 500ms ease-out 0s;
}

.text-inner__link:hover,
.text-inner__link:focus {
	background-color: var(--color__site);
}

.about__item-aside {
	display: flex;
	flex-direction: column;
	/* width: 100%; */
	justify-content: space-between;
	/* margin-left: 15px; */
	flex-grow: 1;
}

.item-aside__elem {
	display: flex;
	flex-wrap: nowrap;

	align-items: center;
	/* width: 100%; */
	height: 48%;
	border: 1px solid #cacaca;
	padding: 60px 0;
	padding-left: 60px;
}

.elem__img {
	margin-right: 60px;
}

.elem__title {
	max-width: 452px;

	line-height: 2;
}

.elem__title h3 {
	font-size: 2.4rem;
}

.elem__title p {
	font-size: 1.6rem;
}

/* </Section__description-about> */
/* *********************************************************************************** */
/* <Section__work> */
.work__list {
	display: flex;
	margin-top: 15px;
	margin-bottom: 50px;
}
.list__element {
	margin-right: 90px;
}

.list__link {
	font-size: 1.8rem;
	color: #333;
	transition: color 500ms ease-out 0s;
}
.list__link:hover,
.list__link:focus {
	color: var(--color__site);
}
.active {
	color: var(--color__site);
}

.work__wrapper {
	display: flex;
	justify-content: space-between;
}

.wrapper-text {
	display: flex;
	flex-direction: column;
}

.work__btn {
	margin-top: auto;
}

.work__title {
	margin-bottom: 10px;
	font-size: 2.4rem;
}

.work__sub-title {
	line-height: 2;
	max-width: 760px;
}

.work__detailed {
	color: #fff;
	font-weight: 700;
	display: inline-block;
	padding: 20px 38px;
	background-color: var(--color__site);
	margin-right: 30px;
	transition: background 500ms ease-out 0s;
}

.work__detailed:hover,
.work__detailed:focus {
	background-color: rgba(255, 153, 0, 0.6);
}

.work__contract {
	display: inline-block;
	color: #333;
	padding: 20px 38px;
	border: 1px solid #333333;
	transition: background 500ms ease-out 0s;
}

.work__contract:hover,
.work__contract:focus {
	background-color: #333;
	color: #fff;
}
/* </Section__work> */
/* *********************************************************************************** */
/* <Section__questions> */

.questions__list {
	font-size: 2.4rem;
	font-weight: 700;
}

.list__text {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.questions__list:first-child::before {
	content: "";
	display: block;
	width: 100%;
	height: 1px;
	background-color: #cacaca;
	margin-bottom: 40px;
}

.questions__list::after {
	content: "";
	display: block;
	width: 100%;
	height: 1px;
	background-color: #cacaca;
	margin: 40px 0;
}

.questions_link {
	color: #333;
	transition: color 500ms ease-out 0s;
}
.questions_link:hover,
.questions_link:focus {
	color: var(--color__site);
}

.list__disclose {
	background-color: #ececec;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	display: inline-block;
	vertical-align: middle;
	position: relative;
	transition: background 500ms ease-out 0s;
}

.list__disclose:hover,
.list__disclose:focus {
	background-color: #d2d2d2;
	cursor: pointer;
}

.list__disclose::before {
	content: "";
	display: block;
	width: 31px;
	height: 1px;
	position: absolute;
	background-color: black;
	top: 24px;

	left: 9.5px;
}

.list__disclose::after {
	content: "";
	display: block;
	width: 1px;
	height: 31px;
	position: absolute;
	background-color: black;
	left: 24px;

	top: 9.5px;
}
/* </Section__questions> */
/* *********************************************************************************** */
/* <Section__footer> */
footer {
	margin-top: 100px;
	background-color: #222;
	color: #cacaca;
}

.footer {
	display: flex;
	padding-top: 50px;
	padding-bottom: 80px;
	justify-content: space-between;
	/* align-items: center; */
}

.opisanie {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
}

.footer__opisanie {
	max-width: 365px;
	line-height: 2;
	padding-bottom: 10px;
}
.social {
	display: flex;
}
.social__list {
	margin-right: 20px;
}
.social__link {
	width: 61px;
	height: 61px;
}
.social__link:hover path,
.social__link:focus path {
	fill: var(--color__site);
}

.footer__forma {
	/* margin: 0 auto; */
	/* width: 30%; */
	width: 100%;
	max-width: 570px;
}

.footer__forma-title {
	margin: 0;
}

.form__reservation {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.writing-form__input {
	margin-bottom: 25px;
	width: 100%;

	padding: 14px 24px;
	background: #414141;
	transition: box-shadow 500ms ease-out 0s;
	border-radius: 5px;
}

.writing-form__input-mess {
	width: 100%;
	margin-bottom: 30px;
	padding: 14px 24px;
	background: #414141;
	transition: box-shadow 500ms ease-out 0s;
	border-radius: 5px;
}

.writing-form__btn {
	color: #fff;
	font-weight: 700;
	display: inline-block;
	padding: 20px 38px;
	background-color: var(--color__site);
	margin-right: 30px;
	padding-top: auto;
	transition: background 500ms ease-out 0s;
}

.writing-form__input:hover,
.writing-form__input:focus {
	box-shadow: 0 0 10px 4px rgba(255, 153, 0, 0.6);
}

.writing-form__input-mess:hover,
.writing-form__input-mess:focus {
	box-shadow: 0 0 10px 4px rgba(255, 153, 0, 0.6);
}

.writing-form__btn:hover,
.writing-form__btn:focus {
	background-color: rgba(255, 153, 0, 0.6);
}

.site-map {
	align-self: center;
}

.site-map__link {
	color: #cacaca;
	font-weight: 700;
	font-size: 1.8rem;
	transition: color 500ms ease-out 0s;
}

.site-map__list {
	margin-bottom: 22px;
}

.site-map__link:hover,
.site-map__link:focus {
	color: var(--color__site);
}
/* </Section__footer> */
